[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=SystemConfig
X-KDE-Priority=TopLevel

[Desktop Action openAsRoot]
Name=Run SystemConfig
Icon=system-config-displayca
Exec=sysconfig
