[Desktop Entry]
Comment[en_US]=
Comment=
Exec=kbuildsycoca5
GenericName[en_US]=
GenericName=
Icon=ao-app-tray
MimeType=
Name[en_US]=kbuildsycoca5
Name=kbuildsycoca5
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
